# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform/.terraform.lock.hcl

# Secrets
*.tfvars
!*.tfvars.example

# Python
__pycache__/
*.pyc
.pytest_cache/

# Ansible
*.retry

# Lambda build artifacts
lambda/layers/python/
/tmp/handler.zip
terraform/handler.zip
terraform/pillow.zip

# Nix
.direnv/
result
.superpowers/
projet_sujet_final.pdf
